# Don't track content of these folders
.idea/
chkpts/
chkpts_list_cifar10/
chkpts_list_cifar100
notebooks/
raw_data/
.ipynb_checkpoints/
logs/mnist_CI_based_availability/
.DS_Store
building_availability_matrices/availability_matrices/av-mat-5_av-mat-analysis/202*
building_availability_matrices/availability_matrices/av-mat-6/gp-*
building_availability_matrices/availability_matrices/av-mat-6/av-mat*
building_availability_matrices/availability_matrices/av-mat-6/av-mat*
building_availability_matrices/availability_matrices/av-mat-7/av-mat*
building_availability_matrices/availability_matrices/av-mat-7/av-mat*
abaca_logs/
greenfl_venv/
*.stderr
*.stdout
greenfl_venv_oldpytorch/

*.npy
*.pth
# *.csv
*.json
*.txt
*.pt
*.pkl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
venv/
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

